[submodule "arm-none-eabi-gcc"]
	path = arm-none-eabi-gcc
	url = https://github.com/nolanholden/arm-none-eabi-gcc
[submodule "freertos"]
	path = freertos
	url = https://github.com/nolanholden/freertos
[submodule "teensy-cli"]
	path = teensy-cli
	url = https://github.com/nolanholden/teensy-cli
[submodule "cores"]
	path = cores
	url = https://github.com/nolanholden/cores
